*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
section{
    background-color: #F8F4F4;
}

/* Navbar */
nav{
    background-color: #349CDB;
    font-size: 14px;
}
nav .navbar-brand{
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 16px;
}

/* Banner */
#banner{
    background-color: #349CDB;
    height: 88vh;
}
#banner h1{    
    font-weight: 300;
    margin-right: 5rem;
}
#banner form input{
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 10px;
}
#banner form .btn{
    background-color: #FFA500;
    color: #fff;
}
#banner img{
    padding-top: 7px;
}

/* description */
#desc img{
    height: 150px;
}

/* mail */
#mail .container{
    padding: 20px;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
}
#mail input{
    border-radius: 5px;
    outline: none;
    border: none;
}
#mail form .btn{
    background-color: #FFA500;
    color: #fff;
}
#mail img{
    padding-top: 7px;
}

/* contact */
#contact .btn{
    margin-top: 10px;
    background-color: #FFA500;
    color: #fff;
}